    <style>
        body {
            margin:0;
            padding:0;
            font-family: 'Titillium Web', sans-serif;
        }
        a, a:hover, a:visited {
            color: #0071bc;
        }
        #map {
            top:0;
            height: 100vh;
            width:100vw;
            position: fixed;
        }
        #mapInset {
            bottom:50px;
            right:30px;
            height: 180px;
            width:250px;
            max-width:100%;
            position: fixed;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            pointer-events: none;
        }
        #mapInset .mapboxgl-ctrl-bottom-left{
            display: none;
        }
        @media (max-width: 500px) {
            #mapInset {
                display: none;
            }
        }
        #header {
            margin: auto;
            width: 100%;
            position: relative;
            z-index: 5;
            height: 170vh;
            background-image: url("https://image.newsis.com/2022/04/21/NISI20220421_0018720345_web.jpg?rnd=20220421082847");
            background-position: top;
            background-repeat: no-repeat;
            background-size: 100vw 100vh;          
        }

        #header h1, #header h2, #header p {
            margin: 0;
            padding: 2vh 2vw;
            text-align: center;
        }

        #header h1 {
            font-size: 7vh;
            color: white;
            padding-top: 40vh;
            Font-weight:700;
            font-family: 'Titillium Web', sans-serif;
        }
        #header h2{
            font-size: 3vh;
            color: white;
            Font-weight:400;
            padding-bottom:55vh;
            font-family: 'Titillium Web', sans-serif;
        }
        #header p{
            font-size: 1.6vh;
            text-align: justify;
            margin-left: 30vw;
            margin-right: 30vw;
            color: black;
            Font-weight:400;
            font-family: 'Titillium Web', sans-serif;
        }

        #footer {
            width: 100%;
            min-height: 5vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
            text-align: center;
            line-height: 25px;
            font-size: 13px;
            position: relative;
            z-index: 5;
        }
        #features {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
        #interlude {
            width: 100vw;
        }
        #interlude p{
            font-size: 1.2vh;
            text-align: justify;
            margin-left: 34vw;
            margin-right: 34vw;
            background-color: : white;
        }
        video {
            margin-left: vw;
            width:90%;
            transform: translate(-50%);
        }
        .hidden {
            visibility: hidden;
        }
        .centered {
            width: 50vw;
            margin: 0 auto;
        }
        .lefty {
            width: 33vw;
            margin-left: 5vw;
        }
        .righty {
            width: 33vw;
            margin-left: 62vw;
        }
        .fully {
            width: 100%;
            margin: auto;
        }
        .light {
            color: #444;
            background-color: #fafafa;
        }
        .dark {
            color: #fafafa;
            background-color: #444;
        }
        .step {
            padding-bottom: 50vh;
            /* margin-bottom: 10vh; */
            opacity: 0.25;
        }
        .step.active {
            opacity: 0.9;
        }

        .step div {
            padding:  25px 50px;
            line-height: 25px;
            font-size: 13px;
        }

        .step img {
            width: 100%;
        }

        @media (max-width: 750px) {
            .centered, .lefty, .righty, .fully {
                width: 90vw;
                margin: 0 auto;
            }
        }

        /* Fix issue on mobile browser where scroll breaks  */
        .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
        .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
            touch-action: unset;
        }

        </style>
