style.css
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.map-overlay {
font-family: 'Montserrat', sans-serif;
/*font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
position: fixed;
width: 20%;
border-radius: 3px;
background-color: #fff;
ba
/* height: 80%; */
top: 0;
left: 0;
margin: 10px;
}

.map-overlay-inner {
padding: 30px;
margin-bottom: 10px;
/* width: 20%;
height:100%; */
}

.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 10px;
}
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Montserrat Neue',sans-serif;
}

.check-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

